@font-face {
    font-family: 'FuturaPTHeavy';
    src: url('/assets/fonts/FuturaPTHeavy.otf')
}

@font-face {
    font-family: 'PTMonoRegular';
    src: url('/assets/fonts/PT-Mono.Regular.ttf')
}

@font-face {
    font-family: 'AdobeCaslonProRegular';
    src: url('/assets/fonts/ACaslonPro-Regular.otf')
}

@font-face {
    font-family: 'AdobeCaslonProItalic';
    src: url('/assets/fonts/ACaslonPro-Italic.otf')
}

::selection {
    background: #FFFF00;
}
::-moz-selection { /* Code for Firefox */
    background: #FFFF00;
}

a {
    display:inline-block;
    text-decoration: none;
}

br {
    line-height: 30px;
}

h1 {
    margin: 0px;
    color: #1B34F9;
    font-family: PTMonoRegular;
    font-size: 48px;
    line-height: 60px;
}

h3 {
    margin: 0px;
    padding-top: 10px;
    color: #1B34F9;
    font-family: PTMonoRegular;
    font-size: 15px;
}

p {
    padding-top: 40px;
    color: #323333;
    font-family: AdobeCaslonProRegular;
    font-weight: Regular;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

nav {
    border-bottom: 2px #FFFF00 solid;
    width: 100%;
    background-color: #d4ece8;
    position: fixed;
}

body {
    margin: 0px;
    background-color: #d4ece8;
}

footer {
    background-color: #d4ece8;
    border-top: 2px #FFFF00 solid;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

main {
    /* padding: 10px; */
}

form {
    margin: 0px;
    margin-left: 150px;
    margin-right: 250px;
    padding-top: 23px;
}

table {
    border: 1.5px solid #323333;
}

td {
    width: 500px;
}

hr {
    margin: 0;
    border-top: 1.5px solid #323333;
}

button {
    background-color: #d4ece8;
    border: none;
    background-color: #323333;
    color: #d4ece8;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin-top: 6px;
    cursor: pointer;
    font-family: AdobeCaslonProRegular;
}

button:hover {
    background-color: #1B34F9;
}

textarea, input[type=text],[type=email] {
    width: 100%;
    padding: 12px 14px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background-color: #d4ece8;
    color: #1B34F9;
    font-family: AdobeCaslonProItalic;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    background: #d4ece8;
    font-size: 20px;
    font-family: sans-serif;
}

.box {
    display: grid;
    padding: 0px;
    height: 100vh;
    overflow: scroll;
    width: 100%;
    background: #d4ece8;
}

.box2 {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: repeat(15, 1fr);
    padding: 0px;
    height: 100vh;
    overflow: scroll;
    width: 100%;
    border-left: 2px #FFFF00 solid;
    background: #d4ece8;
}

.infront {
    z-index: 9999;
}

.main-paragraph {
    margin: 0px;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 40px;
}

.second-paragraph {
    margin: 0px;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 100px;
}

.logo-type {
    color: #323333;
    font-family: FuturaPTHeavy;
    font-size: 18px;
    letter-spacing: 1px;
}

.logo-type:hover {
    color: #1B34F9;
}

.images {
    padding: 0px;
    width: 25vw;
}

.social-section { 
    margin-left: 20px;
}

.developer-section { 
    margin: 0px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 300px;
    padding-bottom: 40px;
}

#logo {
    position: relative;
    margin-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#social_links {
    position: relative;
    width: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
}

#developer_links {
    width: 30px;
    padding-right: 15px;
    vertical-align: middle;
}


@media only screen and (max-width: 900px) {
    .wrapper { 
        flex-direction: column;
    }

    .box {
    overflow: visible;
    height: auto; 
    }

    .box2 {
    overflow: visible;
    height: auto;
    border-left: 0px;
    }

    .main-paragraph {
        margin: 0px;
        padding-top: 35px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 30px;
    }

    .second-paragraph {
        margin: 0px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 50px;
    }

    .developer-section { 
        margin: 0px;
        padding-top: 20px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 40px;
    }

    .infront {
        z-index: -1;
    }

    .images {
        width: 50vw;
    }

    /* p {
        padding-top: 35px;
        padding-left: 60px;
        padding-right: 60px;
    } */

    h1 {
        margin-top: 100px;
    }

    form {
        margin: 0px;
        padding-top: 15px;
        padding-left: 15%;
        padding-right: 15%;
    }

    #developer_links {
        width: 25px;
        padding-right: 10px;
        vertical-align: middle;
    }
}

